/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Company Name: UnivaHost | ThemeAsia | Shipsoft
Version:    2.0.0
Last change:    09/07/19 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}