/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}